*{
  margin: 0;
  padding: 0;
  /* background: url(https://unsplash.com/photos/DqYw4KMZYOE/download) center center no-repeat;
  background-size: cover; */
  font-family: cursive;
}

/* Login.jsx */
.logincontainer{
  margin-top: 25vh;
}

.form-box{
  width: auto;
  padding: 50px;
  border: 1px solid black;
  border-radius: 10%;
  box-shadow: 5px 5px black;
}

.login-title{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Signup.jsx */
.signupcontainer{
  margin-top: 10rem;
}

.signup-title{
  margin-bottom: 20px;
}


#signbtn{
  transition: .2s;
}
#signbtn:hover{
  transform: scale(1.15);
  transition-duration: 500ms;
}

#regiimg{
  width: 100%;
  height: auto;
  border-radius: 50%;
  /* transition-duration: 1s; */
  overflow: hidden;;
}

/* #regiimg:hover{
  height: 600px;
  width: 600px;
  transition-duration: 1s;
} */

/* UserHomeFeed.jsx */
.addPostContainer{
  display: flex;
  justify-content: center;
}

.postBox{
  border-radius: 25px;
  text-align: center;
  margin-top: 20px;
}

.addButton{
  height: 30px;
  width: 50px;
  margin-top: 10px;
  margin-left: 50%;
  border-radius: 15px;
  transform: translate(-50%,-50%);
}

.messageContainer{
  display: grid;
  place-content: center;
  grid-template-columns: auto;
  padding: 20px;
  margin-left: 15%;
  margin-right: 15%;
}

.feedPost{
  border: 2px solid black;
  border-radius: 12px;
  margin: 20px;
  padding: 15px;
}

.userName{
  display: block;
  width: max-content;
  padding: 10px;
  margin-left: 10px;
  border: 2px solid blue;
  border-radius: 25px;
}

.feedPostContent{
  display: inline-block;
  padding: 10px;
}

.likeButton{
  display: inline-block;
  margin-left: 10px;
}


/* Profile.jsx */

.myPostContainer{
  display: grid;
  place-content: center;
  grid-template-columns: 1fr;
  padding: 25px;
  margin-left: 25%;
  margin-right: 10%;
}

.myName{
  display: block;
  width: max-content;
  padding: 10px;
  margin-left: 25px;
  border: 2px solid blue;
  border-radius: 25px;
}

.myPost{
  margin: 15px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 12px;
}

.postContent{
  padding: 25px;
}

.postDeleteBtn{
  display: inline-block;
}

.postEditBtn{
  display: inline-block;
  margin-left: 5px;
}

.editPost{
  display: none;
  margin-top: 15px;
  padding: 25px;
}

.editText{
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
  outline: none;
  overflow-y: scroll;
  border-radius: 10px;
  border-top: 0px;
  border-bottom: 0px;
  height: 200px;
  width: 50vw;
}

.saveEditBtn{
  margin-left: 5px;
}


@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: scale(360deg);}
}
