*{
  margin: 0;
  padding: 0;
  /* background: url(https://unsplash.com/photos/DqYw4KMZYOE/download) center center no-repeat;
  background-size: cover; */
  font-family: cursive;
}

/* Login.jsx */
.logincontainer{
  margin-top: 25vh;
}

.form-box{
  width: auto;
  padding: 50px;
  border: 1px solid black;
  border-radius: 10%;
  box-shadow: 5px 5px black;
}

.login-title{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Signup.jsx */
.signupcontainer{
  margin-top: 10rem;
}

.signup-title{
  margin-bottom: 20px;
}


#signbtn{
  transition: .2s;
}
#signbtn:hover{
  transform: scale(1.15);
  transition-duration: 500ms;
}

#regiimg{
  width: 100%;
  height: auto;
  border-radius: 50%;
  /* transition-duration: 1s; */
  overflow: hidden;;
}

/* #regiimg:hover{
  height: 600px;
  width: 600px;
  transition-duration: 1s;
} */

/* UserHomeFeed.jsx */
.addPostContainer{
  display: flex;
  justify-content: center;
}

.postBox{
  border-radius: 25px;
  text-align: center;
  margin-top: 20px;
}

.addButton{
  height: 30px;
  width: 50px;
  position: relative;
  margin-top: 10px;
  margin-left: 50%;
  border-radius: 15px;
  transform: translate(-50%,-50%);
}

.messageContainer{
  display: grid;
  place-content: center;
  grid-template-columns: auto;
  border: 2px solid red;
  border-radius: 5px;
  padding: 20px;
}

.feedPosts{
  border: 2px solid black;
  margin: 20px;
}

.userName{
  display: inline-block;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 25px;
}

.post{
  display: inline-block;
  padding: 15px;
}




@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: scale(360deg);}
}
