*{
  margin: 0;
  padding: 0;
  /* background: url(https://unsplash.com/photos/DqYw4KMZYOE/download) center center no-repeat;
  background-size: cover; */
  font-family: cursive;
}

/* Login.jsx */
.logincontainer{
  margin-top: 25vh;
}

.form-box{
  width: auto;
  padding: 50px;
  border: 1px solid black;
  border-radius: 10%;
  box-shadow: 5px 5px black;
}

.login-title{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Signup.jsx */
.signupcontainer{
  margin-top: 10rem;
}

.signup-title{
  margin-bottom: 20px;
}


#signbtn{
  transition: .2s;
}
#signbtn:hover{
  transform: scale(1.15);
  transition-duration: 500ms;
}

#regiimg{
  width: 100%;
  height: auto;
  border-radius: 50%;
  /* transition-duration: 1s; */
  overflow: hidden;;
}

/* #regiimg:hover{
  height: 600px;
  width: 600px;
  transition-duration: 1s;
} */


/* UserHomeFeed.jsx */

.addPostContainer{
  display: flex;
  justify-content: center;
  background-color: beige;
}

.postBox{
  border-radius: 25px;
  text-align: center;
  margin-top: 20px;
}

.addButton{
  height: 30px;
  width: 50px;
  margin-top: 10px;
  margin-left: 50%;
  border-radius: 15px;
  transform: translate(-50%,-50%);
}

.messageContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  padding-left: 15%;
  padding-right: 15%;
  background-color: beige;
  white-space: pre-line;
}

.loading{
  padding-top: 20%; 
}

.feedPost{
  border: 2px solid black;
  background-color: aquamarine;
  border-radius: 12px;
  margin: 20px;
  padding: 15px;
}

.userName{
  display: block;
  width: max-content;
  padding: 10px;
  margin-left: 10px;
  border: 2px solid blue;
  background-color: rgba(240, 255, 255, 0.445);
  border-radius: 25px;
}

.feedPostContent{
  display: inline-block;
  padding: 10px;
}

.likeButton{
  display: inline-block;
  margin-left: 10px;
}


/* Profile.jsx */

.editProfile{
  display: flex;
  justify-content: center;
  padding: 15px;
}

.editProfilebtn{
  padding: 5px;
  border-color: blue;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  background-color: wheat;
}

.myPostContainer{
  display: grid;
  place-content: center;
  grid-template-columns: 1fr;
  padding: 25px;
  padding-left: 20%;
  padding-right: 20%;
  background-color: lightyellow;
  white-space: pre-line;
}

.myName{
  display: block;
  width: max-content;
  padding: 10px;
  margin-left: 25px;
  border: 2px solid blue;
  background-color: rgba(240, 255, 255, 0.445);
  border-radius: 25px;
}

.myPost{
  margin: 15px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 12px;
  color: white;
  background-color: darkblue;
  background-repeat: no-repeat;
}

.postContent{
  padding: 25px;
}

.postDeleteBtn{
  display: inline-block;
}

.postEditBtn{
  display: inline-block;
  margin-left: 5px;
}

.editPost{
  display: none;
  margin-top: 15px;
  padding: 25px;
}

.editText{
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
  outline: none;
  border-radius: 10px;
  border-top: 0px;
  border-bottom: 0px;
  height: 200px;
  width: 50vw;
}

.saveEditBtn{
  margin-left: 5px;
}


/* Popup.jsx */

.popupContainer{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: rgba(250, 250, 250, 0.2);
  backdrop-filter: blur(5px); 
}

.popup{
  position: fixed;
  display: flex;
  flex-direction: column;
  height: max-content;
  overflow: hidden;
  width: 50%;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  background-color: rgba(240, 255, 255, 0.719);
  box-shadow:0 0 20px rgba(0,0,0,0.4);
  /* animation: jump 3s linear; */
}

.close{
  align-self: flex-end;
  padding-top: 5px;
  padding-right: 5px;
}

.closeBtn{
  background-color: red;
  color: white;
  border-radius: 50%;
  border: 0px;
  padding-left: 6px;
  padding-right: 6px;
}

.userDetails{
  padding: 100px;
  padding-top: 65px;
  align-self: center;
}

/* EditUserPopup.jsx */

.editUserFormContainer{
  align-self: center;
  padding: 100px;
  padding-top: 65px;
}

.editUserForm{
  display: flex;
  flex-direction: column;
}

.formInput{
  margin: 15px;
}

.editSubmit{
  align-self: center;
}


@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: scale(360deg);}
}

@keyframes jump {
  0%{height: 30%; width: 50%;}
  20%{height: calc(30% + 200px); width: 75%;}
  40%{height: calc(30% - 200px); width: 30%;}
  60%{height: calc(30% + 200px); width: 75%;}
  80%{height: calc(30% - 200px); width: 30%;}
  100%{height: 30%; width: 50%;}
}

@media screen and (max-width:600px) {
  .messageContainer, .myPostContainer{
    padding-left: 5%;
    padding-right: 5%;
  }
  .popup{
    width: 100%;
  }
}